# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Next.js
.next
out

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Docs
docs
*.md
!README.md

# Tests
e2e
playwright-report
test-results

# Development
.editorconfig
.prettierrc
.eslintrc.json
